<!DOCTYPE html>
<html class="no-js" lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta content="en" http-equiv="content-language">

  <!-- Favicons -->
  <link rel="apple-touch-icon" href="{% static 'project/favicon.ico' %}">
  <link rel="icon" href="{% static 'project/favicon.ico' %}">
  <link rel="shortcut icon" href="{% static 'project/favicon.ico' %}" type="image/x-icon">

  <title>
    Bootstrap Palette
  </title>

  <!-- Twitter -->
  <meta name="twitter:site" content="@timitee">
  <meta name="twitter:creator" content="@timitee">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="MoreToSay">
  <meta name="twitter:description" content="Access from anywhere a single block of text and text.">
  <meta name="twitter:image" content="{% static 'project/favicon.ico' %}">

  <!-- Facebook -->
  <meta property="og:url" content="http://moretosay.co.uk">
  <meta property="og:title" content="Bootstrap">
  <meta property="og:description" content="Access from anywhere a single block of text and text.">
  <meta property="og:type" content="website" />
  <meta property="og:image" content="{% static 'project/favicon.ico' %}">
  <meta property="og:image:secure_url" content="{% static 'project/favicon.ico' %}">
  <meta property="og:image:type" content="image/png">
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="630">
  <meta property="fb:admins" content="658961418" />
  <meta property="fb:app_id" content="966242223397117" />

  <!-- Meta -->
  <meta name="description" content="Access from anywhere a single block of text and text.">
  <meta name="author" content="Tim Bushell">
  <meta name="publisher" content="Tim Bushell (c) 2017">
  <meta name="rating" content="Safe For Kids">
  <meta name="robots" content="index, follow">
  <meta name="mssmarttagspreventparsing" content="true" />

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,800">
  <link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/theme.css">

  <style>
    /* Alignment styles for images, videos and iframes in editable regions */
    /* Center (default) */

    [data-editable] iframe,
    [data-editable] image,
    [data-editable] [data-ce-tag=img],
    [data-editable] img,
    [data-editable] video {
      clear: both;
      display: block;
      margin-left: auto;
      margin-right: auto;
      max-width: 100%;
    }
    /* Left align */

    [data-editable] .align-left {
      clear: initial;
      float: left;
      margin-right: 0.5em;
    }
    /* Right align */

    [data-editable].align-right {
      clear: initial;
      float: right;
      margin-left: 0.5em;
    }
    /* Alignment styles for text in editable regions */

    [data-editable] .text-center {
      text-align: center;
    }

    [data-editable] .text-left {
      text-align: left;
    }

    [data-editable] .text-right {
      text-align: right;
    }
  </style>

</head>

<body>

  <br>

  <div class="container">
    <div class="row">
      <div class="col">

        <h1 class="mb-4">MoreToSay</h1>

        <div data-editable data-name="main-content">
            <blockquote>
                Always code as if the guy who ends up maintaining your code will be a violent psychopath who knows where you live.
            </blockquote>
            <p>John F. Woods</p>
        </div>

        <form>

          <div class="form-group">
            <label for="exampleFormControlTextarea1">What did you want to say?</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="7"></textarea>
          </div>

          <div class="form-group">
            <label for="exampleFormControlInput1">Who said this?</label>
            <input class="form-control" id="exampleFormControlInput1">
          </div>

        </form>

      </div>
    </div>
  </div>


  <br>
  <br>

  <footer>
    <div class="container">
      <p>Built by Tim Bushell 2017</p>
    </div>
  </footer>

  <script src="/js/uglify.js"></script>
  <script>
    window.addEventListener('load', function() {
      var editor;
    });

    editor = ContentTools.EditorApp.get();
    editor.init('*[data-editable]', 'data-name');
  </script>

</body>

</html>
