<!DOCTYPE html>
<html class="no-js" lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta content="en" http-equiv="content-language">

  <!-- Favicons -->
  <link rel="apple-touch-icon" href="{% static 'project/favicon.ico' %}">
  <link rel="icon" href="{% static 'project/favicon.ico' %}">
  <link rel="shortcut icon" href="{% static 'project/favicon.ico' %}" type="image/x-icon">

  <title>
    Bootstrap Palette
  </title>

  <!-- Twitter -->
  <meta name="twitter:site" content="@timitee">
  <meta name="twitter:creator" content="@timitee">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="MoreToSay">
  <meta name="twitter:description" content="Access from anywhere a single block of text and text.">
  <meta name="twitter:image" content="{% static 'project/favicon.ico' %}">

  <!-- Facebook -->
  <meta property="og:url" content="http://moretosay.co.uk">
  <meta property="og:title" content="Bootstrap">
  <meta property="og:description" content="Access from anywhere a single block of text and text.">
  <meta property="og:type" content="website" />
  <meta property="og:image" content="{% static 'project/favicon.ico' %}">
  <meta property="og:image:secure_url" content="{% static 'project/favicon.ico' %}">
  <meta property="og:image:type" content="image/png">
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="630">
  <meta property="fb:admins" content="658961418" />
  <meta property="fb:app_id" content="966242223397117" />

  <!-- Meta -->
  <meta name="description" content="Access from anywhere a single block of text and text.">
  <meta name="author" content="Tim Bushell">
  <meta name="publisher" content="Tim Bushell (c) 2017">
  <meta name="rating" content="Safe For Kids">
  <meta name="robots" content="index, follow">
  <meta name="mssmarttagspreventparsing" content="true" />

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,800">
  <link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/bootstrap.css">

</head>

<body>

  <nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
    <a class="navbar-brand" href="#"><h4><i class="fa fa-user"></i> <span style="font-size:small;">A Headline that Means Something</span></h4></a>
    <ul class="nav navbar-nav pull-right">
      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
          aria-haspopup="true" aria-expanded="false"><i class="fa fa-flag"></i> Support</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="moretosay.html">Profiler</a>
          <a class="dropdown-item" href="#">FAQs</a>
          <a class="dropdown-item" href="#">Privacy</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Need Help?</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="fa fa-sign-out"></i> Log Out</a>
      </li>
    </ul>
  </nav>

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron bg-primary">
    <div class="container">
      <h1 class="display-3"><i class="fa fa-user"></i> A Headline That Really Means Something</h1>
      <p>This is a template for a simple marketing or informational website. It includes
        a large callout called a jumbotron and three supporting pieces of content.
        Use it as a starting point to create something more unique.</p>
      <p><a class="btn btn-secondary btn-lg" href="#" role="button">Learn more <i class="fa fa-angle-double-right"></i></a></p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <img class="card-img-top img-fluid" src="http://www.madjaybird.com/dist/images/pages/peopleoftheearth.jpg"
            alt="photo">
          <div class="card-block">
            <h4 class="card-title">People of the Earth</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk
              of the card's content.</p>
            <a href="#" class="btn btn-danger"><i class="fa fa-eye"></i> View</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img class="card-img-top img-fluid" src="http://www.madjaybird.com/dist/images/pages/monica_schwartz.jpg"
            alt="photo">
          <div class="card-block">
            <h4 class="card-title">Hedgehog Dreams</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk
              of the card's content.</p>
            <a href="#" class="btn btn-danger"><i class="fa fa-eye"></i> View</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img class="card-img-top img-fluid" src="http://www.madjaybird.com/dist/images/pages/dale_deforest.jpg"
            alt="photo">
          <div class="card-block">
            <h4 class="card-title">The Boy &amp; His Father</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk
              of the card's content.</p>
            <a href="#" class="btn btn-danger"><i class="fa fa-eye"></i> View</a>
          </div>
        </div>
      </div>
    </div>

    <hr>

    <footer>
      <p>Copyright &copy; 2016 Tim</p>
    </footer>

  </div>



  <script src="/js/jquery.min.js"></script>
  <script src="/js/tether.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
</body>

</html>
