<!DOCTYPE html>
<html class="no-js" lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta content="en" http-equiv="content-language">

  <!-- Favicons -->
  <link rel="apple-touch-icon" href="{% static 'project/favicon.ico' %}">
  <link rel="icon" href="{% static 'project/favicon.ico' %}">
  <link rel="shortcut icon" href="{% static 'project/favicon.ico' %}" type="image/x-icon">

  <title>
    Bootstrap Palette
  </title>

  <!-- Twitter -->
  <meta name="twitter:site" content="@timitee">
  <meta name="twitter:creator" content="@timitee">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="MoreToSay">
  <meta name="twitter:description" content="Access from anywhere a single block of text and text.">
  <meta name="twitter:image" content="{% static 'project/favicon.ico' %}">

  <!-- Facebook -->
  <meta property="og:url" content="http://moretosay.co.uk">
  <meta property="og:title" content="Bootstrap">
  <meta property="og:description" content="Access from anywhere a single block of text and text.">
  <meta property="og:type" content="website" />
  <meta property="og:image" content="{% static 'project/favicon.ico' %}">
  <meta property="og:image:secure_url" content="{% static 'project/favicon.ico' %}">
  <meta property="og:image:type" content="image/png">
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="630">
  <meta property="fb:admins" content="658961418" />
  <meta property="fb:app_id" content="966242223397117" />

  <!-- Meta -->
  <meta name="description" content="Access from anywhere a single block of text and text.">
  <meta name="author" content="Tim Bushell">
  <meta name="publisher" content="Tim Bushell (c) 2017">
  <meta name="rating" content="Safe For Kids">
  <meta name="robots" content="index, follow">
  <meta name="mssmarttagspreventparsing" content="true" />

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,800">
  <link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/theme.css">

  <style>

  </style>

</head>

<body>

  <br>

  <div class="container">
    <div class="row">
      <div class="col">

        <h1 class="h4 mb-4">MoreToSay</h1>

        <form>

          <div class="form-group">
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="7"></textarea>
          </div>

          <div class="form-group">
            <label for="exampleFormControlInput1">Who said this?</label>
            <input class="form-control" id="exampleFormControlInput1">
          </div>


          <button type="submit" class="btn btn-primary btn-lg btn-block">Publish</button>

        </form>

        <br>

        {% if object.moretosay %}
        <label for="edit_url">This is your Edit URL. Keep it safe:</label>
        <div class="input-group">
          <input id="edit_url" type="text" class="form-control" value="{% url 'moretosay.edit' object.pk object.moretosay %}" disabled="disabled" readonly>
            <span class="input-group-btn">
              <button class="btn btn-secondary" type="button"><i class="fa fa-copy"></i></button>
            </span>
        </div>


        <label for="edit_url">This is the URL you should Share. Keep it safe:</label>
        <div class="input-group">
          <input type="text" class="form-control" value="{% url 'moretosay.view' object.pk %}" disabled="disabled" readonly>
            <span class="input-group-btn">
              <a class="btn btn-secondary" href="{% url 'moretosay.view' object.pk %}"><i class="fa fa-eye"></i></a>
            </span>
        </div>
        {% endif %}

      </div>
    </div>
  </div>


  <br>
  <br>

  <footer>
    <div class="container">
      <hr>
      <p class="text-muted">MoreToSay: Built and provided by Tim Bushell (2017)</p>
    </div>
  </footer>

  <script src="/js/uglify.js"></script>
  <script src="/node_modules/ckeditor/ckeditor.js"></script>
  <script>
    CKEDITOR.replace('exampleFormControlTextarea1', {
                  customConfig: '../../js_library/ckeditor_config_full.js'
              });

    CKEDITOR.on('dialogDefinition', function( ev ) {
      var dialogName = ev.data.name;
      var dialogDefinition = ev.data.definition;

      if(dialogName === 'table') {
        var infoTab = dialogDefinition.getContents('info');
        var cellSpacing = infoTab.get('txtCellSpace');
        cellSpacing['default'] = "0";
        var cellPadding = infoTab.get('txtCellPad');
        cellPadding['default'] = "0";
        var border = infoTab.get('txtBorder');
        border['default'] = "0";
        var width = infoTab.get('txtWidth');
        width['default'] = "100%";
      }
    });
  </script>

</body>

</html>
